<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goldenblack.abs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawer.navigation_drawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation_button_booking.home_navigation"
            android:label="@string/title_activity_home_navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".booking.mainBooking" />
        <activity android:name=".booking.FlightsActivity" />
        <activity android:name=".navigation_button_booking.bookingSiteView" />
        <activity android:name=".navigation_button_booking.flightDate" />
        <activity android:name=".navigation_button_booking.flightPassengerAndClass" />
        <activity android:name=".drawer.economy_flight_fragment" />
        <activity android:name=".drawer.checkin_flight_fragment"></activity>
    </application>

</manifest>